# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

ui/.idea/
ui/.ionic/
ui/.sourcemaps/
ui/.sass-cache/
ui/.tmp/
ui/.versions/
ui/coverage/
ui/www/
ui/dist/
ui/node_modules/
ui/tmp/
ui/temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
