<ion-header mode="ios" no-border>
    <ion-toolbar mode="ios" auth-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/login">
          <img src="assets/imgs/back.svg" width="25" alt="">
        </ion-button>
      </ion-buttons>
      <!-- <ion-title>forgotPassword</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
  
    <div class="align-item-inbetween">
      <div class="auth-container">
        <div class="auth-form">
          <div class="auth-form-card">
            <h2 class="title"> Forgot Password?</h2>
            <div class="form-body">
              <ion-list lines="none" mode="ios">
                <div class="input-item">
                  <form [formGroup]='forgotGroup'>
                  <ion-label>Email</ion-label>
                  <ion-item mode="ios">
                    <i slot="start" class="mdi mdi-email-open-outline"></i>
                    <ion-input type="email" placeholder="Enter email" formControlName="mail"></ion-input>
                  </ion-item>
                  </form>
                  <auth-forgot-button [userData]='forgotGroup.value' [disabled]='!forgotGroup.valid'></auth-forgot-button>
                </div>
                <!-- <div class="or-with">Or with</div>
                <div class="input-item">
                  <ion-label>Phone Number</ion-label>
                  <ion-item mode="ios">
                    <i slot="start" class="mdi mdi-phone"></i>
                    <ion-input type="tel" placeholder="Enter number"></ion-input>
                  </ion-item>
                </div>
                <div class="btn-submit">
                  <ion-button routerLink="/otp-verification" fill="clear" expand="block" mode="md">VERIFY</ion-button>
                </div> -->
              </ion-list>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="auth-footer">Already have an account? <ion-button routerLink="/login" mode="ios" fill="clear"
          strong="true">Login</ion-button>
      </div>
    </div>
  </ion-content>